<%- include('partials/header') %>
<% if (user) { %>
  <div id="player-container">
  </div>

  <div id="fourWordsModal" class="modal">
    <div class="modal-content">
        <h1 class="modal-title">Pick Words</h1>
        <form id="fourWords" action="/fourWords" method="POST">
          <div>
            First Option: <input name="word" type="text" required>
          </div>
        </br>
          <div>
            Second Option: <input name="word" type="text" required>
          </div>
        </br>
        <div>
          Third Option: <input name="word" type="text" required>
        </div>
      </br>
        <div>
          Fourth Option: <input name="word" type="text" required>
        </div>
      </br>
        <div>
          <input name="room" type="hidden" value="<%= roomName %>">
        </div>
      </br>
          <button class="btn btn-info" type="submit">Submit</button>
        </form>      
      </div>
  </div>

  <h3>Waiting for players</h3>
  <% } else { %>
    <h3>Please sign in</h3>
  <% } %>
</body>
<%- include('partials/footer') %>